@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.buttonSecondary{
    // border: 1px solid black;
    display: flex;

    &__button{

        border-radius: 15px;
        border: none;
        font-size: 10px;

        &--add{
            border: 1px solid $color-green;
            background-color: $color-green-opacity;

            &:hover{
                background-color: $color-green-hover;
                cursor: pointer;
            }
        }

        &--remove{
            border: 1px solid $color-red;
            background-color: $color-red-opacity;

            &:hover{
                background-color: $color-red-hover;
                cursor: pointer;
            }
        }
    }


    
}