@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.grammarFeature{

    &__container{
        // border: 1px solid red;
    }

    &__dropmenu-wrapper--hidden{
        // display: none;
        border: 1px solid black;
        display: flex;
        justify-content: center;
    }

    &__dropmenu-wrapper--active{
        display: flex;
        justify-content: center;
        margin-bottom: .3rem;
    }

    @include mid-mobile-tablet {

    }

    @include tablet{
        margin-right: .2rem;

        &__dropmenu-wrapper--hidden{
            visibility: hidden;
            display: block;
        }

        &__dropmenu-wrapper--active{
            visibility: visible;
            margin-bottom: 0;

        }

    }
    @include desktop{
        margin-right: .5rem;
    }
}
