// BREAKPOINTS

$breakpoint_mid-mobile-tablet: 544px;
$breakpoint_tablet: 768px;
$breakpoint_mid-tablet-desktop: 1024px;
$breakpoint_desktop: 1280px;

// SUPPORTING COLORS

$color-white: #E4E4E4;

$color-green: #158463 ;
$color-green-opacity:rgb(21, 132, 99, 0.07);
$color-green-hover:rgba(21, 132, 99, 0.303);

$color-red: #C94515 ;
$color-red-opacity:	rgb(201, 69, 21, 0.07);
$color-red-hover:	rgb(201, 69, 21, 0.303);

$color-indigo-opacity: rgb(46, 102, 229, 0.07);


// background-color:  #dfedd5;
// border: 1px solid green;
// background-color:  #f7eaea;
// border: 1px solid rgb(255, 61, 61);
// black #181818
// white #E4E4E4

