@use './partials/variables' as *;
@use './partials/mixins' as*;
@use './partials/fonts' as *;
// @import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";



body{
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: normal;
    margin: 0;
    padding: 0;
}