@use './Partials/variables' as *;
@use './Partials/fonts' as*;
@use './Partials/mixins' as *;
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";



body{
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: normal;
    margin: 0;
    padding: 0;
}