@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.searchbar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    position: relative;

    &__input{
        border: 1px lightgray solid;
        width: 100%;
        border-radius: 20px;
        text-indent: 1.5rem;
        height: 1.5rem;
        font-size: 13px;
        // background-color: #f9f9f9;
        // background-color: #fcfcfc;
        background-color: white;

    }
}

.bi-search{
    position: absolute;
    top: .3rem;
    left: .5rem;
    font-size: 12px;
}