@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.database{
    background-color: #F5F5F5;
    padding:  0 0 .1rem;

    &__main-container{
    // background-color: #F5F5F5;
    background-color: white;
    border-radius: .25rem;
    // box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    box-shadow: 0px 3px 6px rgba(13, 17, 30, 0.1);
    margin: 0 1rem 1rem;
    padding: 1rem 1rem;

    }

    &__text{
        margin: 0 0 1rem 0; 
        text-align: center;
    }

    &__popup-container{
        display: flex;
        justify-content: center;
    }

    &__container{
        display: flex;
        justify-content: center;
    }

    
    @include mid-mobile-tablet {
        
        &__main-container{
            margin: 0 2rem;
            padding: 1rem 3rem 1.5rem;
        }

                
        &__container{
            display: flex;
            justify-content: center;
        }

    }

    @include tablet{
        &__main-container{
            margin: 0rem 2rem 1rem;
            // padding: 1rem 1rem 1.5rem;
        }
    }

    @include mid-tablet-desktop {
        &__main-container{
            margin: 0 5% 1.5rem;
        }
    }

    @include desktop{
        
        &__main-container{
            margin: 0 10% 1.5rem;
        }
    }
}