@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.answer{

    &__input-container{
        position: relative;
        // border: 1px red solid;
        margin-bottom: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__input{
        box-sizing: border-box;
        width: 95%;
        // border: 1px solid #0052b689;
        border: 1px solid rgb(106, 106, 106);

        border-radius: 20px;
        height: 2rem;
        margin: 0;
        text-align: center;
        font-size: 13px;
        margin: 0 0 .5rem ;

        &::placeholder{
            text-align: center;
            font-size: 13px;
            // padding: 41%;
        }

        &--error{
            border: 1px solid red;
        }
    }

    &__input-text{

        &--error{
            color: red;
            border: 1px solid red;

        }

        &--correct{
            color: green;
            border: 1px green solid;

        }
    }

    &__text-container{
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center
    }

    &__text{
        font-size: 13px;
        padding: .1rem 0 .2rem;
        margin: 0 0 0 .4rem;
        
        &--hidden{
            display: none;
        }

        &--visible{
            display: block;
        }
    }
    &__main-button-container{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    &__button-container{
        width: 45.7%;
    }
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        &__form{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__input-container{
            display: flex;
            flex-direction: row;
            width: 75%;
            margin-bottom: 1rem;  
        }

        &__input{
            width: 100%;
            height: 2.5rem;
            border: 1.5px solid rgb(177, 177, 177);
            font-weight: 500;
            font-size: 1.1rem;
            margin: 0;
      
       
            &::placeholder{
                font-size: 1.1rem;
                color: rgb(192, 192, 192);    
            }

        }

        &__text-container{
            height: 1.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 75%;
            height: 6rem;
        }

        &__text{
            font-size: 1.1rem;
            font-weight: 500;
            padding: .2rem 0 .1rem;
            
            // &--primary{
            //     bottom: .2rem;
            // }

            // &--secondary{
            //     bottom: .2rem;
            //     font-size: .9rem;
            // }
        }

        &__main-button-container{
            display: flex;
            width: 75%;
            justify-content: space-between;
        }

        &__button-container{
            width: 48.3%;
        }


    }

    @include mid-tablet-desktop {
        width: 100%;
        // margin-top: 1rem;
        &__form{
            justify-content: center;
            width:100%;
        }

        &__text-container{
            display: flex;
            padding-left: .5rem;
            justify-content: center;
            // width: 100%;
        }

        &__input-container{
            width: 71.6%;
        }

        &__main-button-container{
            width: 71.9%;
        }
    }

    @include desktop{


        &__input-container{
            display: flex;
            flex-direction: row;
        }

        &__input{
            width: 9.5rem;
        }        
        &__text-container{
            width: 70%;
        }

    }

    .bi{
        font-size: 1.5rem;
        display: none;
        position: absolute;
        bottom: .5rem;
        left: 1rem;
    }

    .bi-check{
        color: green;

        &--visible{
            display: block;
        }
    }

    .bi-x{
        color: red;

        &--visible{
            display: block;
        }
    }
}