@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.answer{

    &__input-container{
        // border: 1px solid black;
    }

    &__input{
        box-sizing: border-box;
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 20px;
        height: 1.5rem;
        margin: 0;
        padding-left: 1rem;

        &::placeholder{
            // text-align: center;
            // padding: 41%;
            
        }

        &--error{
            border: 1px solid red;
        }
    }
    &__input-text{
        &--error{
        color: red;
        }
        &--correct{
            color: green;
        }
    }

    &__text{
        
        &--hidden{
        visibility: hidden;
        }

        &--display-hidden{
            display: none;
        }

        &--visible{
        visibility: visible;
        }
    }

    &__button{
        background-color: #254c8a;
        border-radius: 10px;
        width: 100%;
        border: none;
        color: white;
        padding: .2rem 0;
        margin: 0 0 1rem; 

        &:hover{
            cursor: pointer;
            background-color: #2E66E5;
        }
    }

    @include tablet{
        &__input{
            width: 5rem;
            height: 1.5rem;
            padding-left: 1rem;

            &::placeholder{
     
                padding: 0;
                
            }
        }

        &__button{
            width: 5rem;
        }
    }
}