@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.ListEntry{

    background-color: white;

    &__container{
        display: flex;
        // border-bottom: solid lightgray 1px;
        padding: .1rem;
    }

    &__text{
        margin: 0;
        padding: 0 .5rem;
        font-size: 14px;
    }

    &__button-container{
        &--hidden{
            display: none;
        }
    }

    &__button{
        // background-color: #4e80f2;
        background-color: #254c8a;
        color: white;
        padding: 0;
        border: none;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);



        &:hover{
            cursor: pointer;
            background-color: #2E66E5;
        }
    }

    @include tablet {
        &__container{
            border-bottom: solid lightgray 1px;
        }
    }
}