@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.navbar{
    // background-color: #254c8a;
    // background-color: #038aff ;
    // background-color: #0375ff;
    // background-color: #0069e9;
    background-color: #0052b6;
    // background-color: #fcfcfc;
    // background-color: #eeeeee;

    
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;   

    &__header-container{
        display: flex;
        justify-content: center;
    }

    &__header{
        color: white;
        // color: #0052b6;

        padding: 1.5rem 0 1.5rem;
        margin: 0; 
        font-size: 1.5rem;
        line-height: 1.1rem;

        &:hover{
            cursor: pointer;
        }
    }

    &__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        // color: white;
        color: #fcfcfc;
        // color: #0052b6;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__list-item{
        padding: 1rem;

        &:hover{
            background-color: rgba(255, 255, 255, 0.089);
            cursor: pointer;
        }
    }

    &__link{
        font-size: .75rem;
        text-decoration: none;
        // color: #0052b6;
        color: white;
    }

    @include tablet{
        flex-direction: row;
        justify-content: space-between;

        padding: 1rem 1.5rem;

        &__header-container{
            align-items: center;
        }

        &__header{
            padding: 0 1rem;
        }

    }
    @include mid-tablet-desktop{
        &__list-item{
            font-size: 1rem;
        }
    }

    @include desktop{
        padding: 0 10%;
    }
}