@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.exercise{
    background-color: #eeeeee;
    
    &__main-container{
        background-color: #fcfcfc;
        padding: 0 1rem 1.5rem;
        position: relative;
    }

    &__text{
        font-size: 12px;
        text-align: center;
        padding: 0rem 0 1.5rem;
        margin: 0;
        line-height: 1.2rem;
    }

    &__header{
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin: 0; 
        padding: 1.5rem 0 1rem;
        text-align: center;
        font-weight: normal;    
    }
    
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }

    &__database-wrapper{
        position: absolute;
        width: 90%  ;

    }




    @include mid-mobile-tablet {
        padding: .1rem;
     
        &__header{
            margin: 0;
            padding: 1.5rem 0 1rem;
        }
        &__main-container{
            margin: 2rem;
            padding: 1rem 2rem 2rem;
            border-radius: .25rem;
            box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        }
    }

    @include tablet{
        padding: .1rem;

        &__header{
            margin: 1rem 0 1rem;
            padding: 0;
            border: none;
        }
        &__main-container{
            margin: 2rem;
            padding: 1rem 2rem 2rem;
            border-radius: .25rem;
            box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        }

        &__container{
            height: 90%;
            width: 80%;
            position: relative;
        }

        &__text{
            font-size: .875rem;
            padding: 0 0 2.5rem;
      
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

        }

        &__answer-container{
            display: flex;
            flex-direction: row;          
            align-items: flex-end;
            justify-content: center;
            width: 80%;
        }
    }
 
    @include mid-tablet-desktop {
        &__main-container{
            margin: 2rem 10%;
            padding: 1rem 3rem 2rem;
            
        }

        &__answer-container{
            display: flex;
            width: 80%;
        }
    }

    
    @include desktop{

        &__main-container{
            margin: 3rem 10%;
            padding: 1rem 5rem 2rem;
        }

        &__answer-container{
            display: flex;
            width: 80%;
        }
    }
}