@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.dropmenu{

    &__menu{

        &--hidden{
            display: none;
        }
        &--visible{            
            display: flex;
            justify-content: center;
            margin-bottom: .3rem;
        }
    }
}