@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.dropmenu{

    &__menu{

        &--hidden{
            display: none;
        }
        &--visible{            
            display: flex;
            justify-content: center;
            margin-bottom: .3rem;
        }
    }

    @include tablet{
        &__menu{

            &--hidden{
                display: flex;
                visibility: hidden;
                margin-bottom: .3rem;

            }
            &--visible{            
                display: flex;
                visibility: visible;
                justify-content: center;
                margin-bottom: .3rem;
              

            }
        }

    }
}