@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.verbList{

    width: 8rem;

    &__container{
        // background-color: white;
        border: solid #1A8FE3  1px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        height: 9rem;
    }
    
    &__scroll {
        border-radius: 5px;
        overflow-y: scroll;
        overflow-x: hidden; 
        background-color: #fcfcfc;
        
        &::-webkit-scrollbar{
            width: .5rem;
            height: 1rem;

        }
        &::-webkit-scrollbar-track{
            background-color: rgba(234, 234, 234, 0.848);
            border-radius: 5px;

        }
        &::-webkit-scrollbar-thumb{
            background-color:darkgray;
            width: .3rem;
            border-radius: 5px;
            height: 10%;
        }
        &--hidden{
            overflow-y: hidden;
        }
    }
    


    @include tablet{
        width: 100%;

        &__container{
            height: 10.2rem;
        }
    }
}
