@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.grammar{

    &__button-container{
        // border: 1px solid black;
        position: relative;
    }

    &__button-label{
        position: absolute;
        left: .5rem;
    }
    
    &__button{
        height: 1.2rem;
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 20px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        margin-bottom: .3rem;

        &:hover{
            cursor: pointer;
            background-color: lightgray;
        }

        &--active{
            color: blue;
        }
        &--inactive{
            color: black;
        }
    }

    &__dropmenu-wrapper--hidden{
        display: none;
    }

    &__dropmenu-wrapper--active{
        display: block;
    }

    @include mid-mobile-tablet {

    }

    @include tablet{
        margin-right: .2rem;

        &__button-container{
            position: static;
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
        }
    
        &__button-label{
            position: static;
            // border: 1px solid red;
            text-align: center;
        }

        &__button{
            margin: .3rem 0 0;
            height: 1.5rem;
            box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
            &--person{
                width: 3.9rem;
            }
            &--gender{
                width: 5.3rem;
            }
            &--number{
                width: 5rem
            }
            &--tense{
                width: 8rem;
            }
            &--mood{
                width: 6.3rem;
            }
        }

        &__dropmenu-wrapper--hidden{
            visibility: hidden;
            display: block;
        }

        &__dropmenu-wrapper--active{
            visibility: visible;
        }

    }
    @include desktop{
        margin-right: .5rem;
    }
}