@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;

.dropmenuButton{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__label{
        font-weight: 300;
        font-size: .6rem;

    }
    
    &__button{
        background-color: #F5F5F5;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: .8125rem;
        line-height: 10px;
        height: 2rem;
        width: 100%;
        border: 1px solid #1a8fe3;
        border-radius: 20px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        padding: .3rem .5rem;
        margin-bottom: .3rem;

        &:hover{
            cursor: pointer;
            background-color: #eeeeee;

        }

        &--active{
            color: blue;
        }
        &--inactive{
            color: black;
        }       
        &--error{
        border: 1.5px solid  #EC1351 ;
        }
        &--clicked{
        box-shadow: 0px 2px 2px rgba(19, 24, 44, 0.2);

        }
    }

    &__button-label{
        white-space: normal;
        &:hover{
            cursor: pointer;
        }
    }

    @include mid-mobile-tablet{
        &__label{
            font-size: .7rem;
        }
    }
    
    @include tablet{

        display: flex;
        flex-direction: column;
        position: relative;
    
        &__label{
            position: static;
            text-align: center;
            height: 1rem;
            font-size: 15px;            
            display: block;
        }

        &__button{
            font-size: 1rem;
            margin: .3rem 0 .5rem;
            height: 2.5rem;
            box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
            position: relative;
            width: 100%;
        }

        &__button-label{
           position: static;
           text-align: center;
        }

    }

    @include mid-tablet-desktop{
        &__button{
            text-align: center;
        }

        &__button-label{
            position: static;
            text-align: center;


        }
    }

    .bi-caret-down-fill{
        font-size: 10px;
        position: absolute;
        right: .4rem;
        top: 1.5rem;

        &:hover{
            cursor: pointer;
        }

        @include tablet{
            top: 2.3rem;     
            right: .7rem;
        }
    }

    .bi-exclamation-circle-fill{
        position:absolute;
        left: .5rem;
        font-size: 10px;
        color: #EC1351;
        display: none;
        font-weight: bolder;

        &--active{
         display: block;
        }
        &--inactive{
         display: none;
        }

        @include tablet {
            font-size: 14px;
            left: .7rem;
            top: .75rem;
        }
    }
    
}